<div class="container">
  <form class="profile" [formGroup]="profileForm" (ngSubmit)="onSubmit()">
    <h1>Form-questionnaire Front-end developer</h1>

    <div class="form-control">
      <label>
        First Name:
      </label>
      <input type="text" placeholder="Name" formControlName="firstName">
      <div
        *ngIf="profileForm.get('firstName').invalid && profileForm.get('firstName').touched"
        class="validation"
      >
        <small *ngIf="profileForm.get('firstName').errors.required">
          The name cannot be empty
        </small>
      </div>
    </div>

    <div class="form-control">
      <label>
        Last Name:
      </label>
      <input type="text" placeholder="Surname" formControlName="lastName">
      <div
        *ngIf="profileForm.get('lastName').invalid && profileForm.get('lastName').touched"
        class="validation"
      >
        <small *ngIf="profileForm.get('lastName').errors.required">
          The surname cannot be empty
        </small>
      </div>
    </div>

    <div class="form-control">
      <label>Date of Birth:</label>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Choose a date of Birth</mat-label>
        <input matInput [matDatepickerFilter]="myFilter" [matDatepicker]="picker" formControlName="dateOfBirth">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>

    <div class="form-control">
      <label>Frameworks:</label>
      <select formControlName="frameworks" (change)="frameworksChanged($event.target.value)">
        <option disabled>Choose Value</option>
        <option value="">Choose Framework</option>
        <option *ngFor="let framework of listOfFrameworks">
          {{framework}}
        </option>
      </select>
      <div *ngIf="isValidated && frameworks.errors?.required" class="validation">
        <small>Please choose some framework</small>
      </div>
      <label>Framework version:</label>
      <select formControlName="frameworkVersion">
        <option disabled>Choose Value</option>
        <option value="">Choose version</option>
        <option *ngFor="let version of frameworksVersion">
          {{ version }}
        </option>
      </select>
      <div *ngIf="isValidated && frameworkVersion.errors?.required" class="validation">
        <small>Please choose the version of the framework</small>
      </div>
    </div>

    <div class="form-control">
      <label>Email:</label>
      <input type="text" placeholder="Email" formControlName="email">
      <div
        *ngIf="profileForm.get('email').invalid && profileForm.get('email').touched"
        class="validation"
      >
        <small *ngIf="profileForm.get('email').errors.required">
          The email cannot be empty
        </small>

        <small *ngIf="profileForm.get('email').errors.email">
          Please enter a valid email
        </small>

        <small *ngIf="profileForm.get('email').errors.uniqEmail">
          Email {{profileForm.get('email').value}} already exists
        </small>
      </div>
    </div>

    <div class="form-control" formGroupName="hobby">
      <label>Your hobbies:</label>
      <div
        class="form-control"
        *ngFor="let control of profileForm.get('hobby')['controls']; let idx = index"
      >
        <label>Hobby {{idx + 1}}</label>
        <div [formGroupName]="idx">
          <label>Name:</label>
          <input type="text" placeholder="Name" formControlName="name">
          <label>Duration:</label>
          <input type="text" placeholder="Duration" formControlName="duration">
        </div>
      </div>
      <button class="btn" type="button" (click)="addHobby()">Add hobby</button>
    </div>

    <button class="btn" type="submit" [disabled]="!profileForm.valid">Submit</button>

  </form>
</div>

